In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
data = pd.read_csv('Q9_a.csv')
data2 = pd.read_csv('Q9_b.csv')

In [21]:
data.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [22]:
data.skew()

Index    0.000000
speed   -0.117510
dist     0.806895
dtype: float64

In [23]:
data.kurtosis()

Index   -1.200000
speed   -0.508994
dist     0.405053
dtype: float64

Inferences
1) Speed has Fairly symmetrical distribution with a slight right skewness as value is less than -0.5. Also it has as a slighty flatter peak as the Kurtosis is -ve
2) Distance has a moderate left skewness as the values is greater than 0.5 and is +ve. Also it has a pointier peak as the Kurtosis value is +ve

In [25]:
data2.head()

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149

In [28]:
data2.skew()

Unnamed: 0    0.000000
SP            1.611450
WT           -0.614753
dtype: float64

In [29]:
data2.kurtosis()

Unnamed: 0   -1.200000
SP            2.977329
WT            0.950291
dtype: float64

Inferences
1) SP has highly right as value is more than 1. Also it has as a fairly pointy peak as the Kurtosis is 2.97 and has high number of outliers
2) WT has a moderate left skewness as the values is greater than -0.5. Also it has a more than usual pointy peak as the Kurtosis value is +ve and have a fairly less amount of outliers.